.project {
  border: 1px solid $accent-clr;
  border-radius: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 50px;
  height: 100%;
  text-align: center;

  &__link {
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
  }
    &__link:visited {
    color: $accent-clr;

    }
}
