.form {
    display: grid;
    gap: 10px;
    text-align: center;
    margin: 0;
    padding: 0 20px;

    &__title {
        font-weight: 400;
        text-transform: uppercase;
        margin: 20px 0 0;
        color: $bg-clr;
    }
    
    &__fieldset {
        display: flex;
        justify-content: space-between;
        padding: 0;
        border: none;
        &:last-of-type {
            align-self: center;
        }
    }
    &__input {
        border: 2px solid $bg-clr;
        border-radius: 5px;
        width: 100%;
        margin-right: 10px;
        padding: 5px 10px;
    }
    
    &__select {
        max-width: 120px;
        border: 2px solid $bg-clr;
        border-radius: 5px;
            &:first-of-type {
                margin-right: 10px;
            }
    }
    
    &__text-area {
        padding: 5px 10px;
        border: 2px solid $bg-clr;
        border-radius: 10px;
        min-height: 150px;
    }
    
    &__input-file{
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }
    
    &__file-wrapper {
        border: 1px dashed $bg-clr;
        border-radius: 10px;
        min-height: 40px;
        position: relative;
        text-align: left;
        display: flex;
        align-items: center;
        padding: 3px;
        justify-content: left;
    }
    
    &__form-load-icon {
        height: 25px;
        vertical-align: middle;
    }
    
    &__input-file-text {

    }
    &__input-label {
        width: 100%;
    }

    &__button-submit {
        // max-width: 200px;
        width: 100%;
        height: 40px;
        border: none;
        background-color: $bg-clr;
        border-radius: 10px;
        color: $font-clr;
        font-size: 18px;
        line-height: 1.2;
        padding: 0;
        margin: 0 auto;
        &:hover {
            cursor: pointer;
            opacity: .6;
        }
    }
}