.popup {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    
    // backdrop-filter: blur(2px);

    &__container {
        max-width: 600px;
        width: 100%;
        background-color: $font-clr;
        color: $bg-clr;
        border-radius: 5px;
        margin: 0 auto;
        padding-bottom: 20px;
        z-index: 2;
        position: relative;
    }
       
    &__button-close {
        background: url(../../assets/icons/close.svg) no-repeat center;
        outline: none;
        border: none;
        position: absolute;
        top: -45px;
        right: -42px;
        width: 40px;
        height: 40px;
        background-size: contain;
        &:hover {
            opacity: .6;
            cursor: pointer;
        }
    }
    

}
.popup_state_open {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.4s linear;
    
}
