.header {
  padding: 0 20px;
  display: flex;

  border-bottom: 2px solid $accent-clr;
  justify-content: space-between;
  max-height: 50px;
  &__logo {
    width: 50px;

  }
  &__title {

    color: $accent-clr;
    text-transform: uppercase;

    }
}
