.header {
  display: flex;
  align-items: center;
  justify-content:center;

  &__logo {
    width: 40px;
  }
  &__title {
    margin-left: 10px;
    color: $accent-clr;
    text-transform: uppercase;
    }
}
