.projects-list {
  // margin-top: 10px;
  &__header {
    display: flex;
    justify-content:center;
    align-items: center;
     
  }
  &__title {
    margin: 20px 0;
  }
  &__add-button {
    @include button-add;
  }
  &__list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min-content, 450px));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    margin-top:0;
   
  }

}
