@import '../vendor/normalize';
// @import '../vendor/fonts/fonts';
@import './colors';

// mixins
@import './mixins/main';
@import './mixins/links';
@import './mixins/buttons';
// root and elements
@import './root';
@import '../components/Form/Form';
@import '../components/Popup/Popup';
// popups
@import '../components/AddProjectPopup/AddProjectPopup';
@import '../components/AddTaskPopup/AddTaskPopup';
@import '../components/TaskPopup/TaskPopup';
//components
@import '../components/App/App';
@import '../components/Header/Header';
@import '../components/Navbar/Navbar';
@import '../components/Footer/Footer';
@import '../components/ProjectsList/ProjectsList';
@import '../components/ProjectCard/ProjectCard';
@import '../components/Project/Project';
@import '../components/TaskList/TaskList';
@import '../components/TaskCard/TaskCard';
@import '../components/Task/Task';
@import '../components/Loader/Loader';


